html,
body {
  --bg-color: #1c1b22;
  --text-color: #fbfbfe;
  --primary-color: #00ddff;
  --secondary-color: #ff1ad9;
  --shadow: linear-gradient(90deg, #fc00ff, #00dbde, #fc00ff);
  background-color: var(--bg-color);
  color: var(--text-color);
}

body a {
  color: var(--primary-color);
}

body a:hover {
  color: var(--secondary-color);
}

.panel {
  padding: 5px;
  background-color: var(--dark);
}

li {
  margin-bottom: 5px;
  color: var(--text-color);
}

.custom-div {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 60px;
  position: relative;
  background-size: 200% auto;
}

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 10px;
  position: relative;
  border: 5pt solid;
  border-color: transparent;
  background-size: 200% auto;
  box-shadow: 0 0 25px 5px rgba(0, 221, 255, 0.5);
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--primary-color);
}
h3 {
  color: var(--primary-color);
}
h4 {
  color: var(--primary-color);
}
h5 {
  color: var(--primary-color);
}
h6 {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}
