html,
body {
  --bg-color: #1c1b22;
  --text-color: #fbfbfe;
  --primary-color: #00ddff;
  --secondary-color: #ff1ad9;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.panel {
  padding: 5px;
  background-color: var(--dark);
}

li {
  margin-bottom: 5px;
  color: var(--text-color);
}

.custom-div {
  background-color: #ff0000;
  color: #ff0000;
}
.list-group {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.list-group-item {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 5px;
}
