html,
body {
  --bg-color: #1c1b22;
  --text-color: #fbfbfe;
  --primary-color: #00ddff;
  --secondary-color: #ff1ad9;
  --dark-gradient-shadow: linear-gradient(90deg, #fc00ff, #00dbde, #fc00ff);
  background-color: var(--bg-color);
  color: var(--text-color);
}

body a {
  color: var(--primary-color);
}

body a:hover {
  color: var(--secondary-color);
}

.panel {
  padding: 5px;
  background-color: var(--dark);
}

li {
  margin-bottom: 5px;
  color: var(--text-color);
}

.custom-div {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
/* .container {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 10px;
  border: 25pt solid;
  border-color: transparent;
  background-size: 200% auto;
  animation: gradient-border 3s linear infinite;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  filter: blur(20px);
} */

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 10px;
  position: relative;
  border: 5pt solid;
  border-color: transparent;
  background-size: 200% auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.container::before {
  content: "";
  position: absolute;
  background: var(--dark-gradient-shadow);
  background-size: 100%;
  width: calc(100%);
  height: calc(100%);
  border-radius: 25pt;
  z-index: -1;
  background: linear-gradient(90deg, #fc00ff, #00dbde, #fc00ff);
  animation: animate 20s linear infinite;
  filter: blur(20px);
}

.runback {
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* .list-group {
  padding: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.list-group-item {
  padding: 5px;
  background-color: var(--bg-color);
  border: 1px solid var(--secondaryg-color);
  border-radius: 5px;
  margin-bottom: 5px;
} */

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--primary-color);
}
h3 {
  color: var(--primary-color);
}
h4 {
  color: var(--primary-color);
}
h5 {
  color: var(--primary-color);
}
h6 {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}
